.top-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1.5em;
}

.feed-of-page {
  display: grid;
  min-height: 0;
  padding-bottom: 30px;
  border-radius: 0.5rem;
  border-top: 4px solid #5e34eb;
  text-align: center;
  box-shadow: var(--shadow);
}

.artcard {
  display: block;
  width: 100%;
  min-height: 0;
  object-fit: cover;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

.feed-of-page h2 {
  position: float;
  padding: 0;
}

.feed-of-page a {
  text-decoration: none;
}

.card-detail .card-date {
  color: #501b10;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.card-detail .description {
  display: block;
  padding: 30px;
  text-align: start;
}

@media screen and (max-width: 600px) {
  .top-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 900px) {
  .top-container {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}
