@import url(fonts.css);
@import url(header.css);
@import url(content.css);
@import url(footer.css);
@import url(page.css);
@import url(article.css);

/* Global setting */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(97, 97, 97, 0.8);
}

html {
  box-sizing: border-box;
  color: var(--dark);
}

body {
  font-family: Sarabun, Roboto, sans-serif;
  background: #fff3e6;
  margin: 0 50px 0;
  line-height: 1.5;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

/* Media Queries */
@media (max-width: 800px) {
  .wrapper-cards {
    grid-template-areas:
      "showcase" "showcase"
      "card-classes" "card-classes";
  }

  .showcase {
    font-size: 2.5rem;
  }

  .showcase h1 h2 {
    padding: auto;
  }

  .wrapper-cards {
    grid-template-columns: 1fr;
  }

  .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .wrapper-cards {
    grid-template-columns:
      "showcase"
      "card-classess";
  }

  .showcase {
    font-size: 1rem;
  }

  .showcase h1 h2 {
    padding: auto;
    margin: auto;
  }
}
